@font-face {
    font-family:'Roboto';
    font-weight:400;
    font-style: normal;
    src:local('Roboto-Regular'),
        url('Roboto/Roboto-Regular.woff') format('woff'),
        url('Roboto/Roboto-Regular.woff2') format('woff2'),
        url('Roboto/Roboto-Regular.ttf') format('ttf');
    font-display: swap;    
}
@font-face {
    font-family:'Roboto';
    font-weight: 500;
    font-style: normal;
    src:local('Roboto-Medium'),
        url('Roboto/Roboto-Medium.woff') format('woff'),
        url('Roboto/Roboto-Medium.woff2') format('woff2'),
        url('Roboto/Roboto-Medium.ttf') format('ttf');
    font-display: swap;
}
@font-face {
    font-family:'Roboto';
    font-weight: 700;
    font-style: normal;
    src:local('Roboto-Bold'),
        url('Roboto/Roboto-Bold.woff') format('woff'),
        url('Roboto/Roboto-Bold.woff2') format('woff2'),
        url('Roboto/Roboto-Bold.ttf') format('ttf');
    font-display: swap;}